.home-container {
  padding: 20px;
  background: #0f172a;
  min-height: 100vh;
  color: white;
}

.home-title {
  text-align: center;
  color: #00ff99;
  font-size: 32px;
}

.home-subtitle {
  text-align: center;
  color: #00ccff;
  margin-bottom: 30px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 25px;
}

.product-card {
  background: #1e293b;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 0 12px #00ff99;
  text-align: center;
  transition: 0.3s;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  margin-bottom: 10px;
}

.product-card h3 {
  color: #38bdf8;
  font-size: 18px;
}

.price {
  color: #22c55e;
  font-size: 18px;
  font-weight: bold;
}

.rating {
  color: #facc15;
  margin-bottom: 10px;
}

.btn-group {
  display: flex;
  justify-content: space-between;
}

.buy-btn {
  background: #22c55e;
  border: none;
  padding: 8px 12px;
  color: black;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

.cart-btn {
  background: #38bdf8;
  border: none;
  padding: 8px 12px;
  color: black;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

.buy-btn:hover,
.cart-btn:hover {
  opacity: 0.8;
}
